version: '3.8'

services:
  # RabbitMQ
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: unless-stopped

  # PostgreSQL Database
  postgres:
    container_name: postgres
    image: postgres:17
    environment:
      POSTGRES_DB: email_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: unless-stopped

  # Redis
  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: unless-stopped

  # Your Email Service
  email-service:
    container_name: email-service
    build: .
    ports:
      - "8002:8002"
    environment:
      # Database
      - DATABASE_URL=postgresql+asyncpg://postgres:admin@postgres:5432/email_db
      
      # RabbitMQ
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - EMAIL_QUEUE_NAME=email.queue
      - FAILED_QUEUE_NAME=email.failed.queue
      
      # Redis
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      
      # SMTP
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=465
      - SMTP_USER=ogukwee91@gmail.com
      - SMTP_PASSWORD=juzgctuvntgawiyt
      - SMTP_FROM=ogukwee91@gmail.com
      - SMTP_FROM_NAME=Notification System
      
      # Service
      - SERVICE_PORT=8002
      - ENVIRONMENT=production
      - LOG_LEVEL=INFO
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy  
      redis:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/api/v1/emails/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  postgres_data: